.t404{
    font-size: 5rem;
    text-align: center;
}

.tnotfound{
color: red;
font-size: 30px;
text-align: center;
}

.home{
    width: 134px;
    height: 20px;
    border-radius: 31px;
    background-color: #F6F6F6;
    text-align: center;
    display: block;
    padding: 20px;
    margin: 0px auto;
    // border: 1px solid black;
    color: #FF5A5A;
    font-size: 20px;

}