.header {
  width: fixed(1325px);

  // border: 1px solid black;
}
.main {
    margin-top: 5px;
  width: fixed(1325px);
  height: 848px;
  margin: 0 auto;
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
